.App {
  text-align: center;
  background-color: rgb(18, 18, 18);
  height:100vh;
  display: flex;
  flex-direction: column;
  width:100%
  
}


.App-header {
  padding: 10px;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer{
  display: flex;
  flex-direction: row;
  padding: 10px;  
  background-color: #252424; 
}

.prompt{
  flex-grow: 1;
  overflow-y: hidden;
  border:none;
  padding: 10px;
  background-color: #4c4949;
  color:white
}

.btn{
  border:none;
  padding: 10px;
  color: white;
  background-color: #0b70bdcb;
}

.resp-container{
  display: flex;
  flex-direction: column;
  width:calc(100vh - 200px);
  margin: auto;
  justify-content: space-between;
  align-items: flex-end;
}

.response{
  color: white;
  margin: 5px;
  background-color: rgb(36, 36, 37);
  line-height: 2rem;
  border-radius: 5px;
  padding:5px;
  min-width: 500px;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon{
  margin: 2px;
}


