.App {
  text-align: center;
  background-color: #282c34;
  height:100vh;
  display: flex;
  flex-direction: column;
  
}


.App-header {
  padding: 10px;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer{
  display: flex;
  align-items: flex-end;
  background-color: "#222";
  padding: 10px;
}

.prompt{
  margin:0;
  flex-grow: 1;
  overflow-y: hidden;
  width : 70%
}

.btn{
  width : 30%;
  margin: 0;
  flex: 1;
  margin-left: 10px;
  height: 30px
}